/* General setup */
* {
    box-sizing: border-box;
    scroll-margin-top: 100px;
}

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: hsl(0, 0%, 100%);
}

p{
    line-height: 1.5;
}

mjx-container[display="true"] {
    font-size: 110% !important;
    text-align: left !important;
    width: 100% !important;
    margin-left: 6% !important;
    padding: 20px;
}


mjx-mtable {
    text-align: left !important;
    margin-left: 10px;
}


main{
    width: 85%;
    justify-self: center;
    z-index: 10px;
    background-color: #ffffff;
    padding: 19px;
}
/* Header and nav bar */

header{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    height: 56px;
    z-index: 1000;
}



#name{
    padding-left: 8px;
    font-family: "Times New Roman";
}

#lona{
    display: flex;
    align-items: center;
    margin-right: 80px;
    padding: 6px;
}
/* #lona:hover{
    background-color: rgba(164, 163, 163, 0.477);
} */

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 60%;
    max-width: 600px;
    right: 0;
    z-index: 3;
}
.nav-item{
    padding: 18px;
}

#chapterlist{
    display: none;
}
#navchap{
    z-index: 1000;
}
#chapterlist div{
    padding: 18px;
    border-bottom: 1px solid black;
}
#navchap:hover div{
    display: block;
}

nav a{
    text-decoration: none;
    color: white;
}
nav div:hover{
    background-color: rgba(153, 152, 152, 0.477);
    color: hsl(170, 100%, 50%);
}
nav a.active {
    background-color: rgba(224, 216, 216, 0.477);
}

#navbar{
    display: none;
    cursor: pointer;
}
#navclo{
    display: none;
    cursor: pointer;
}
.navdiv{
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 3px;
}





/* Main Content */

#downloadBtn{
    font-size: 15px;
    background-color: hsl(0, 0%, 78%);
    border-radius: 15px;
    border: none;
    padding: 8px;
}
#downloadBtn a{
    color: hsl(211, 100%, 50%);
}
#downloadBtn:hover{
    background-color: hsl(0, 0%, 83%);
}
#downloadBtn:active{
    background-color: hsl(0, 0%, 88%);
}



#mainfnav:hover>ol{
    display: block;
}
#mainfnav{
    display: inline-block;
    position: fixed;
    top: 60px;
    left: 2%;
    z-index: 2;
    font-size: 0.8em;
}

#bfnav div{
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 3px;
}
#bfnav{
    border: 1px solid black;
    display: inline-block;
    padding: 2px;
    background-color: white;
    cursor:pointer;
}
#bfnav:hover{
    background-color: hsl(0, 0%, 95%);
    box-shadow: 0 0 2px black;
}


#bfnavi{
    display: none;
    background-color: white;
    border: 2px solid black;
    box-shadow: 0 0 2px black;
    padding: 4px;
}
#bfnavi li{
    list-style-type: none;
}
#bfnavi li{
    padding: 2px;
    margin: 2px;
}
#bfnavi>li{
    border: 2px solid black;
}
#bfnavi a{
    color: black;
}
#bfnavi li li:hover{
    background-color: hsl(0, 0%, 95%);
    text-decoration: underline;
}
#bfnavi li li:hover a{
    color:hsl(230, 77%, 48%);
}

main{
    margin: 8px;
}


@keyframes welcome{
    65%{opacity:1}
}
#welh4{
    opacity: 0;
    animation-name: welcome;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}





#divgrid{
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(317px,1fr));
    align-items: stretch;
    gap: 20px;
}
.chbox{
    border: 2px solid black;
    box-shadow: 0px 0px 3px black;
    padding: 8px;
    text-align: center;
}
.chbox img{
    width: 150px;
    margin-bottom: 6px;
}
.chbox:hover{
    scale: 1.02;
    background-color: hsl(180, 100%, 98%);
}

#divgrid a{
    text-decoration: none;
    color: black;
}
#divgrid a:hover{
    text-decoration: underline;
    color: hsl(214, 100%, 50%);
}






/* Footer */

footer{
    background-color: black;
    height: 80px;
    color: white;
    padding: 8px;
}
footer a{
    color: hsl(170, 100%, 50%);
    text-decoration: none;
}























/* Animations for nav and header */

@keyframes anime{
    from{transform: translateX(-100%)}
    0%{opacity: 0}
}



@keyframes clo1{
    from{transform: rotateZ(0deg)}
}
@keyframes clo2{
    0%{opacity: 1}
}
@keyframes clo3{
    from{transform: rotateZ(0deg)}
}



@keyframes bar1{
    from{transform: rotateZ(45deg) translateY(8.5px)}
}
@keyframes bar2{
    0%{opacity: 0}
}
@keyframes bar3{
    from{transform: rotateZ(-45deg) translateY(-8.5px)}
}





@media screen and (max-width: 700px){

    /* General setup */

    h1, h2, h3, .infobox, .navbox {
        font-family: Arial, "Helvetica Neue", sans-serif;
    }
    /* body {
        font-family: "Linux Libertine", Georgia, "Times New Roman", Times, serif;
    } */
    
    main{
        width: 95%;
    }

    /* Header and nav reponsiveness */
    header{
        display: block;
    }

    #logo{
        display: none;
    }
    #name{
        padding: 12px;
    }
    #name:hover{
        background-color:  rgba(153, 152, 152, 0.477);

    }
    #lona{
        /* justify-content: ; */
        margin: 0;
    }
    #lona:hover{
        background-color: initial;
    }

    nav{
        display: none;
        height: 1900px;
        width: 250px;
        position: fixed;
        left: 0;
        z-index: 10px;
        color: white;
        text-align: center;
        animation-name: anime;
        animation-duration: 1s;
    }
    #navchap:hover #chapterlist{
        display: none;
    }
    #navbar{
        display: block;
        padding: 11px;
    }
    #navbar:active .navdiv{
        background-color:  hsl(170, 100%, 50%);
    }
    #navclo{
        display: none;
        padding: 11px;
    }
    #navclo:active .navdiv{
        background-color:  hsl(170, 100%, 50%);
    }
    #navclo1{
        transform: rotateZ(45deg) translateY(8.5px);
        animation-name: clo1;
        animation-duration: 1s;
    }
    #navclo2{
        opacity:0;
        animation-name: clo2;
        animation-duration: 1s;
    }
    #navclo3{
        transform: rotateZ(-45deg) translateY(-8.5px);
        animation-name: clo3;
        animation-duration: 1s;
    }
    #navbar1{
        animation-name: bar1;
        animation-duration: 1s;
    }
    #navbar2{
        opacity: 1;
        animation-name: bar2;
        animation-duration: 1s;
    }
    #navbar3{
        animation-name: bar3;
        animation-duration: 1s;
    }
}

